[package]
name = "todo-tui"
version = "0.1.0"
edition = "2021"
authors = ["Jiří Alexanrovič"]

[dependencies]
chrono = "0.4"
clap = { version = "4.4", features = ["derive"] }
clap_complete = "4.4"
crossterm = "0.27"
enum_dispatch = "0.3"
log = "0.4"
log4rs = "1.2"
notify = "6.0"
regex = { version = "1.3", default-features = false, features = ["std"] }
serde = { version = "1.0", features = ["derive"] }
todo-txt = "3.1"
toml = "0.7"
tui = { package = "ratatui", version = "0.22.0", features = ["all-widgets", "crossterm"]}
tui-input = { version = "0.8", features = ["crossterm"], default-features = false }

[dev-dependencies]
test-log = "0.2.13"
env_logger = "0.10.0"
